// Fonts
$roboto: 'Roboto', sans-serif;

//Color
$white: #fff;
$black: #000;
$grey: #848484;
$orange: #f97000;
$dark-gray: #252525;
$filter-gray: #8e8e8e;

// Brakpoints
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;